In [29]:
import pandas as pd
import numpy as np

# Changing Options with Attributes and Dot Syntax:

In [2]:
# Create an array of randon values
# Feed that to our data frame cunstroctor method to create a PANDAS dataframe

In [7]:
# Numpy calls for module(random), randint=generates random integers, given lower and upper bound with 1000 rows 50 columns.

data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,5,77,90,85,59,96,65,10,24,28,...,94,24,64,43,4,73,22,90,34,84
999,35,38,0,44,60,84,15,85,66,83,...,65,23,41,61,32,24,47,87,51,24

### MAX ROW/COLUMN SETTING

In [17]:
pd.options.display.max_rows = 4

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,25,11,5,72,6,11,6,57,19,17,...,86,80,75,38,41,63,54,3,62,40
1,34,18,51,21,93,32,69,25,34,89,...,55,24,75,28,45,47,19,66,95,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,5,77,90,85,59,96,65,10,24,28,...,94,24,64,43,4,73,22,90,34,84
999,35,38,0,44,60,84,15,85,66,83,...,65,23,41,61,32,24,47,87,51,24

In [23]:
pd.options.display.max_columns=8

In [24]:
df

     0   1   2   3   ...  46  47  48  49
0    25  11   5  72  ...  54   3  62  40
1    34  18  51  21  ...  19  66  95  12
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998   5  77  90  85  ...  22  90  34  84
999  35  38   0  44  ...  47  87  51  24

[1000 rows x 50 columns]

# Changing pandas options with Methods:

In [25]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   2   3   ...  46  47  48  49
998  82  93  57  11  ...  77  56  45  98
999  58  17  70  97  ...  74  62  49  93

[2 rows x 50 columns]

## Get option:

In [30]:
pd.get_option("max_columns")

OptionError: Pattern matched multiple keys

In [39]:
pd.set_option("min_rows", 16)

In [40]:
pd.options.display.min_rows

16

In [44]:
pd.set_option("max_columns", 20)

OptionError: Pattern matched multiple keys

In [45]:
pd.reset_option("max_rows")

In [46]:
pd.reset_option("max_columns")

In [48]:
pd.get_option("min_rows")

16